.btn {
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: $lite-green;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 70px;
  text-transform: uppercase;
  letter-spacing: 0.14px;
  color: #fff;
  transition: .3s;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  &:hover {
    background: $dark-green;
  }
  &--darkgreen {
    background: $dark-green;
    &:hover {
      background: $lite-green;
    }
  }
}

.btn-small {
  width: auto;
  height: auto;
  padding: 20px 30px;
}

.link {
  text-decoration: none;
  border-bottom: 1px solid;
  line-height: 20px;
  transition: .3s;
  color: inherit;
  display: inline-flex;
  &:hover {
    border-bottom-color: transparent;
  }
  &--black {
    color: #2a3430;
  }
  &--white {
    color: #ffffff;
    display: initial;
  }
}