.eco.page-section {
  padding-top: 60px;
  padding-bottom: 60px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.eco__text {
  padding: 40px 54px;
  box-shadow: 1px 3px 14px rgba(0, 0, 0, 0.13);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .text {
    line-height: 19px;
    letter-spacing: 0.14px;
    color: $black;
    &:last-child {
      margin-bottom: 0;
    }
  }
}