.util {
  background-color: $green;
  .btn {
    display: flex;
  }
}
.link__util {
  margin-bottom: 22px;
}
.util-item {
  display: flex;
  margin-left: 24px;
  .util-item__img {
    width: 100px;
    height: 100px;
    flex: 0 0 100px;
    box-shadow: 
    1px 3px 14px rgba(0, 0, 0, 0.13),
    inset 1px 3px 14px rgba(0, 0, 0, 0.13);
    border: 5px solid #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .util-item__text {
    color: $black;
    margin: auto 0;
    margin-left: 17px;
    font-weight: 700;
    font-size: 15px;
  }
}

.page-section.sutil {
  padding-bottom: 60px;
}