$font-main: 'Roboto';
$green: #184d48;
$lite-green: #449779;
$dark-green: #13735a;
$font-color: #424242;
$black: #010101;
$title-size: 32px;
$font-size: 14px;
$line-height: 20px;

//----------


$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;




